.carousel>.carousel-inner>.carousel-item>img { 
    height: 500px; 
} 
h1{ 
    text-align: center; 
} 
h2{ 
    padding-top: 10px; 
    text-align: center; 
    margin: auto; 
} 
h3{ 
    text-align: center; 
} 
p{ 
    margin: auto; 
    text-align: center; 
    width:60%; 
    padding-top: 30px; 
    font-size: large; 
    padding-bottom: 20px; 
} 
.row{ 
    padding-top: 20px; 
} 
.ImgTy{ 
    width:100%; 
    height:200px; 
} 
form { 
    padding-top: 40px; 
    padding-left: 50px; 
    padding-bottom:30px;
    width: 45%; 
    border-radius: 50px; 
    display: grid; 
    float: left; 
} 
#size{ 
    width:75%; 
    text-align: center; 
    margin: auto; 
} 
#carouselExampleInterval{ 
    width:60%; 
    text-align: center; 
    margin:auto; 
} 
iframe { 
    text-align: right; 
    margin: auto; 
    padding-left: 100px; 
    display: grid; 
    padding-top: 40px; 
    width: 600px; 
    height: 400px; 
} 
footer{ 
    font-size: small; 
    text-align: center; 
    text-indent: 10px;
    position:fixed; 
    bottom: 0; 
    width: 100%; 
    height: 4%; 
    background-color: grey;    
} 
.col{ 
    padding-bottom: 50px; 
} 
@media only screen and (max-width: 951px) { 
    form { 
        width: 80%; 
    } 
    .carousel>.carousel-inner>.carousel-item>img { 
        height: 400px; 
    } 
    p{ 
        font-size: small; 
    } 
} 
 
@media only screen and (max-width: 780px) { 
    form { 
        width: 70%; 
    } 
 
    iframe { 
        padding-left: 0%; 
        padding-bottom: 20px; 
    } 
    footer{ 
        height: 4%; 
    } 
} 
@media only screen and (max-width: 762px) { 
    form { 
        width: 90% 
    } 
    iframe { 
        text-align: center; 
        margin: auto; 
        padding-bottom: 20px; 
        width:400px; 
    } 
    .carousel>.carousel-inner>.carousel-item>img { 
        height: 200px; 
    } 

} 